In [11]:
import pandas as pd

In [12]:
payouts_Original = pd.read_csv('../../Data_Sets/Original/payouts.csv')

In [13]:
payouts_Original.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52003 entries, 0 to 52002
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   install_id  52003 non-null  object
 1   event_date  52003 non-null  object
 2   value_usd   52003 non-null  float64
dtypes: float64(1), object(2)
memory usage: 1.2+ MB

In [14]:
payouts_Original.head(5)

                                          install_id  event_date  value_usd
0  8912076a49c7b17960f8d262dc37599f86cbb3da8912b6...  2022-12-21   0.254376
1  7488c7b0f3d25cea61e435ea2aa346d3bbf1b946b94b1f...  2022-12-28   0.361216
2  66ee0cd1d490d9d352b46b443c9d5b5aa5bdabfbdb303b...  2022-12-10   0.359006
3  66ee0cd1d490d9d352b46b443c9d5b5aa5bdabfbdb303b...  2022-12-10   0.253416
4  66ee0cd1d490d9d352b46b443c9d5b5aa5bdabfbdb303b...  2022-12-10   0.253416

In [15]:
payouts_Original['value_usd'].describe()

count    52003.000000
mean         1.198410
std          2.414285
min          0.199860
25%          0.280400
50%          0.358836
75%          0.708659
max         28.507500
Name: value_usd, dtype: float64

In [16]:
payouts_Original.boxplot( column = ['value_usd'], grid = False)

In [17]:
payouts_Original['event_date'].min()

'2022-01-01'

In [18]:
payouts_Original['event_date'].max()

'2022-12-31'

In [19]:
len(payouts_Original['install_id'].unique())

20939

In [20]:
payouts_Original['value_usd'].sum()

62320.91676900001